// Variable
/* Colors */
$cardBoxShadow: #d5d6dc;
$cardBoxShadowHover: #aeaeae;
$cardBackground: #f3f4f7;
$cardAddButton: #dc7777;
$levelTubeBackground: #e4e4e4;
$levelTubeBoxShadow: #d4d4d4;
$levelTubeValueBackground: #f3701a;
$bottomBarBackground: #ec5656;
$bottomBarBoxShadow: #d9333387;
$bottomBarTextColor: #ffffff;
$modalOutside: #000000a3;
$modalContentBoxShadow: #474444;
$modalContentBackground: #ffffff;
$searchBoxBorder: #e6e6e6;

/* Fonts */
$fontAtma: 'Atma', cursive;
$fontGaegu: 'Gaegu', cursive;

/* Sizing */
$headerSize: 120px;
$bottomBarSize: 120px;
$bottomBarHeight: $bottomBarSize * .6;